*~*
*.o
Makefile.in
Makefile
aclocal.m4
config.h.in
config.h
config.log
config.status
libtool
stamp-h1
configure
autom4te.cache
build-aux
.dirstamp
valgrind.supp
*.log
*.trs
lib/test_key2reduce
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
test-driver
/valgrind_run.txt
tests/.deps
tests/.libs
tests/basic
tests/bruteforce
tests/dictionary
tests/file
tests/plaintext
tests/plaintext_password
tests/pwstream
tests/reduce
tests/pool
debtest/
