Source: yazc
Priority: optional
Maintainer: Marc Ferland <marc.ferland@gmail.com>
Build-Depends: debhelper (>= 11), zlib1g-dev, check, pkgconf
Standards-Version: 4.6.2
Section: utils
Rules-Requires-Root: no
Homepage: https://github.com/mferland/libzc

Package: yazc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: password recovery tool for legacy zip archives
 Yazc is a fast, portable password and encryption-key recovery application.
 It provides brute-force, dictionary and known-plaintext attack modes.
