Source: libzc
Priority: optional
Maintainer: Marc Ferland <marc.ferland@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, autotools-dev, zlib1g-dev
Standards-Version: 3.9.8
Section: libs
Homepage: https://github.com/mferland/libzc

Package: libzc-dev
Section: libdevel
Architecture: any
Depends: libzc3 (= ${binary:Version}), ${misc:Depends}
Description: fast password cracking library and client for zip archives - development files
 libzc is a fast, portable and high-quality zip password cracking
 library. It is entirely written in C and uses POSIX threads for faster
 password recovery. A command line utility, yazc, also comes with the
 library as the default client.

Package: libzc3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fast password cracking library and client for zip archives
 libzc is a fast, portable and high-quality zip password cracking
 library. It is entirely written in C and uses POSIX threads for faster
 password recovery. A command line utility, yazc, also comes with the
 library as the default client.
