#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND = -O3 -ffast-math

%:
	dh $@

# DEB_CONFIGURE_EXTRA_FLAGS = --enable-debug
#
# override_dh_auto_configure:
#	dh_auto_configure -- $(DEB_CONFIGURE_EXTRA_FLAGS)
